*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background: #fff;
    font-family: Raleway, sans-serif;
}

.checkbox-toggler {
    display: none;
}

.nav-btn {
    background-color: #fff;
    height: 100px;
    width: 100px;
    position: fixed;
    top: 45px;
    right: 65px;
    border-radius: 50%;
    z-index: 20;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-icon {
    position: relative;
    width: 50px;
    height: 2px;
    background: #333;
}
.nav-icon::before, 
.nav-icon::after {
    content: "";
    width: 50px;
    height: 2px;
    background: #333;
    position: absolute;
    transition: transform 0.2s;
}
.nav-icon::before {
    transform: translateY(-12px)
}

.nav-icon::after {
    transform: translateY(12px)
}

.checkbox-toggler:checked + .nav-btn .nav-icon {
    background-color: transparent;
}
.checkbox-toggler:checked + .nav-btn .nav-icon::before {
    transform: translateY(0px) rotate(135deg)
}
.checkbox-toggler:checked + .nav-btn .nav-icon::after {
    transform: translateY(0px) rotate(-135deg)
}

.nav-bg {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: fixed;
    top: 55px;
    right: 75px;
    background-image: radial-gradient(#c3073f, #950740);
    z-index: 10;
    transition: transform 1.2s cubic-bezier(0.86,0,0.07,1)
}

.checkbox-toggler:checked ~ .nav-bg {
    transform: scale(60)
}


.navigation {
    height: 100vh;
    width: 100%;
    position: fixed;
    transform: translateX(-100%);
    opacity: 0;
    z-index: 15;
    transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55)
}

.nav-list {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    list-style-type: none;
    text-align: center;
    width: 100%;
}
.nav-link {
    display: inline-block;
    margin-top: 20px;
    font-size: 50px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.checkbox-toggler:checked ~ .navigation {
    opacity: 1;
    transform: translate(0%)
}