*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 400px;
    height: 400px;
    margin: 100px auto;
}

.c1 {background: salmon;}
.c2 {background: lightblue;}
.c3 {background: lightgreen;}
.c4 {background: khaki;}
.c5 {background: sandybrown;}
.c6 {background: slateblue;}


/*
Find 6 ways to have the "Center me" text centered on X and Y.
Horizontally and vertically.
*/


/* 1 */

.c1 {

}
.c1 h1 {

}


/* 2 */

.c2 {

}
.c2 h1 {

}


/* 3 */

.c3 {

}
.c3 h1{

}


/* 4 */

.c4 {

}
.c4 h1 {

}


/* 5 */

.c5 {

}
.c5 h1 {

}


/* 6 */

.c6 {

}
.c6 h1 {

} 



